<div th:fragment="html"> 
	<div id="footer"  class="footer" style="display: block;">
		<div id="footer_ensure" class="footer_ensure">
			<a href="#nowhere">
				<img src="img/site/ensure.png">
			</a>
		</div>
	
		<div class="horizontal_line">
		</div>
	
    <div id="footer_desc" class="footer_desc">
            <div class="descColumn">
			    <span class="descColumnTitle">购物指南</span>
			    <a href="#nowhere" >免费注册</a> 
			    <a href="https://memberprod.alipay.com/account/reg/index.htm" >开通支付宝</a> 
			    <a href="https://cshall.alipay.com/lab/cateQuestion.htm?cateId=237621&pcateId=237620" >支付宝充值</a>
			</div>
            <div class="descColumn">
			    <span class="descColumnTitle">商城保障</span>
			    <a href="#nowhere" >发票没有</a> 
			    <a href="#nowhere" >售后没有</a> 
			    <a href="#nowhere" >缺货不赔</a>
			</div>
            <div class="descColumn">
			    <span class="descColumnTitle">支付方式</span>
			    <a href="#nowhere" >支付宝</a> 
			    <a href="#nowhere" >微信</a> 
			    <a href="#nowhere" >qq</a>
			    <a href="#nowhere" >货到付款</a>
			    <a href="#nowhere" >py交易</a>
			</div>
            <div class="descColumn">
			    <span class="descColumnTitle">商家服务</span>
			    <a href="#nowhere" >陪玩</a> 
			    <a href="#nowhere" >陪吃</a> 
			    <a href="#nowhere" >陪聊</a>
			    <a href="#nowhere" >其他服务</a>
			</div>
            <div class="descColumn">
			    <span class="descColumnTitle">QQ</span>
			    <a href="#nowhere" ><img src="img/site/ma.png" height="100px"></a> 
			</div>
			
    </div>
    
    <div style="clear:both"></div>
    
    <div id="copyright" class="copyright">
		<div class="white_link" >
			<a href="#nowhere" >关于我们</a>
			<a href="#nowhere" >帮助中心</a>
			<a href="#nowhere" >开放平台</a>
			<a href="#nowhere" >加入我们</a>
			<a href="#nowhere" >联系我们</a>
			<a href="#nowhere" >网站合作</a>
			<a href="#nowhere" >法律声明</a>
			<a href="#nowhere" >知识产权</a>
			<a href="#nowhere" >廉正举报</a>
		</div>
		<div class="white_link" >
			<a href="#nowhere" >542宿舍</a><span class="slash">|</span>
			<a href="http://how2j.cn/?p=43065" >how2j</a><span class="slash">|</span>
			<a href="https://www.tmall.com/?spm=a211oj.12451259.a2226mz.1.e9b67e4a2jJsJp" >天猫 </a><span class="slash">|</span>
			<a href="https://www.alipay.com/" >  支付宝 		</a>
		</div>
	
		<div class="license">
			<span>增值电信业务经营许可证：无</span>
			<span>网络文化经营许可证：无</span>
			<span>互联网医疗保健信息服务 审核同意书 无 </span>
			<span>互联网药品信息服务资质证书编号：无</span>
		    <div class="copyRightYear">&copy; 2018-2019 542宿舍 版权所有</div>
		    <div>
		    	<img src="img/site/copyRight2.jpg">
		    </div>
		</div>
    </div>
</div>
		
	</div>
<div th:fragment="html"> 
